@font-face {
  font-family: "codropsicons";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/codropsicons/codropsicons.woff") format("woff"),
    url("../fonts/codropsicons/codropsicons.ttf") format("truetype"),
    url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin: 0;
  color: #444;
  background: #f6f6f6;
}

a {
  text-decoration: none;
  color: #2c3e50;
  outline: none;
}

a:hover,
a:focus {
  color: #2c3e50;
  outline: none;
}

.codrops-icon {
  width: 4em;
}

.codrops-icon span {
  display: none;
}

.codrops-icon::before {
  font-family: "codropsicons";
  font-size: 1.15em;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon--drop::before {
  content: "\e001";
  color: #09c;
}

.codrops-icon--prev::before {
  content: "\e004";
}

/* Demo links */

.demo-link {
  font-family: "Playfair Display";
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.demo-link--current {
  color: #2c3e50;
}

@media screen and (max-width: 40em) {
  .demo-link {
    -webkit-flex: 1;
    flex: 1;
  }
}

/* Styles for sponsor */
body #cdawrap {
  top: auto;
  right: auto;
  bottom: 12px;
  left: 12px;
  border: 1px solid #2c3e50;
  background: none;
}
