.game-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#e4e0ba, #2c3e50);
  background: linear-gradient(#e4e0ba, #2c3e50);
}

.world {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.header h1 {
  font-family: "Playfair Display";
  font-size: 4.5em;
  line-height: 1;
  margin: 0;
  letter-spacing: -0.025em;
  color: #2c3e50;
}

.header h1 span {
  font-size: 0.2em;
  font-style: italic;
  display: block;
  margin: 0 0 -1.5em -4em;
  letter-spacing: 0px;
}

.score {
  width: 100%;
  margin: 2em 0 0;
  text-align: center;
  white-space: nowrap;
}

.score__content {
  position: relative;
  display: inline-block;
  padding: 0 1em;
  vertical-align: top;
}

.score__content:nth-child(2) {
  border-right: 1px solid #2c3e50;
  border-left: 1px solid #2c3e50;
}

.score__label {
  font-size: 9px;
  position: relative;
  margin: 0 0 0.5em 0;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #2c3e50;
}

.score__value {
  font-family: "Playfair Display";
  font-weight: bold;
  color: #2c3e50;
}

.score__value--level {
  font-size: 26px;
}

.score__value--dist {
  font-size: 30px;
}

.level-circle {
  position: absolute;
  left: 50%;
  width: 46px;
  margin: -37px 0 0 -23px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.score__value--energy {
  position: relative;
  width: 60px;
  height: 8px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #2c3e50;
}

.energy-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2px;
  background-color: #f25346;
  -webkit-animation-name: none;
  animation-name: none;
  -webkit-animation-duration: 150ms;
  animation-duration: 150ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 40em) {
  .header {
    font-size: 0.75em;
    top: 6.5em;
  }
}
